- provide(:title, @deck.title + " - Teach Magic: The Gathering")

%h1
  = @deck.title

.row-fluid

  .span3

    %h2 Deck list

    .decklist
      - @deck.cards.order(:name).each do |c|
        .card
          = "#{c.quantity}x"
          %a{ href: "http://magiccards.info/query?q=#{c.name}&v=card&s=cname", target: "_blank", data: { name: c.name } }
            = c.name

    - if user_is_admin
      = link_to "Edit this deck", edit_deck_path(@deck), class: "btn btn-warning"

  .span9

    %h2 Deck description

    .description
      = @deck_description
