- provide(:title, @deck.title + " - Teach Magic: The Gathering")

%h1
  = @deck.title

%h2 Deck description

.description
  = @deck_description

%h2 Deck list

.decklist
  - @deck.cards.each do |c|
    .card
      = c.quantity
      x
      = c.name

= link_to "Edit this deck", edit_deck_path(@deck), class: "btn btn-warning"