%header.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			%button.btn.btn-navbar{ type: "button", "data-toggle" => "collapse", "data-target" => ".nav-collapse" }
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.brand{ href: "/" }
				Teach MTG
			.nav-collapse.collapse
				%ul.nav
					%li
						= link_to "Home", home_path
					%li.dropdown
						%a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
							What and how to teach <b class="caret"></b>
						%ul.dropdown-menu
							%li
								= link_to 'The foundations', basics_path
							%li
								= link_to "World and story", world_path
							%li
								= link_to "Philosophies", philosophies_path
							%li
								= link_to "Rules", rules_path
					%li.dropdown
						%a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
							Simple &amp; cheap decks <b class="caret"></b>
						%ul.dropdown-menu
							%li
								= link_to "Decks concepts", concepts_path
							%li
								= link_to "Beginners", beginners_path
							%li
								= link_to "Advanced", advanced_path
					%li
						= link_to "Drafting", drafting_path
					%li
						= link_to "Resources", resources_path
